/* Dark purple: #4e426d 
  Light Purple: #8675A9*/

.app{
  display: grid;
  place-items: center;    
  background-color:  #FDF6F0 ;
  height: 100vh;
}
.app_body{
  display: flex;
  background-color: #4e426d;
  height: 90vh;
  width: 90vw;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}


